body {
    position: relative;
    margin: 0;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background: lime;
    z-index: 100;
}
.container {
    position: relative;
}
.aside {
    top: 70px;
    width: 250px;
    display: inline-block;
    position: absolute;
}
.address-book {
    position: relative;
    top: 100px;
    padding-left: 250px;
    height: 150vh;
}
.address-book .address-book__title {
    background: yellow;
    position: sticky;
    top: 70px;
}
.address-book .address-book__text {
    position: static;
}
